Package: com.pxx917144686.flex
Name: FLEX++
Maintainer: pxx917144686
Version: 1.0.0
Architecture: arm64
Description: FLEX调试
Author: FLEX Team & pxx917144686修改
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate
